/* Reinicio de márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121927; /* Color de fondo de la página */
    font-family: Arial, sans-serif;
}

#computer-screen {
    background-color: #050A0F; /* Color gris para la pantalla */
    width: 90%; /* Ancho responsivo */
    max-width: 1200px; /* Ancho máximo */
    height: 70%; /* Alto responsivo */
    max-height: 800px; /* Alto máximo */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    position: relative;
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    #computer-screen {
        width: 95%;
        height: 80%;
    }
}

.chat-layout {
    display: flex;
    height: 93%;
    width: 45%;
    border: 0.5px solid #282b31;
    border-radius: 0% 0 0 10px;
}

.chat-container-users {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%; /* Asegura que el contenedor ocupe el ancho necesario */
    height: 100%; /* Ocupa todo el alto disponible del cajón */
    overflow-y: auto; /* Añade un scrollbar si el contenido excede el alto del contenedor */
    box-sizing: border-box; /* Incluye el padding en el cálculo de las dimensiones */
}


/* Personalización del scrollbar */
.chat-container-users::-webkit-scrollbar {
    width: 4px; /* Ancho del scrollbar */
}

.chat-container-users::-webkit-scrollbar-thumb {
    background-color: #555; /* Color gris oscuro para el scrollbar */
    border-radius: 10px; /* Bordes redondeados para el scrollbar */
}

.chat-container-users::-webkit-scrollbar-thumb:hover {
    background-color: #333; /* Cambia el color al pasar el mouse */
}

.chat-container-users::-webkit-scrollbar-track {
    background-color: transparent; /* Fondo transparente para el track */
}