.mensaje-container {
    display: flex;
    margin: 10px;
    padding: 5px;
  }
  
  .mio {
    justify-content: flex-end;
  }
  
  .recibido {
    justify-content: flex-start;
  }
  
  .mensaje-burbuja {
    max-width: 60%;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    line-height: 1.4;
    word-wrap: break-word;
    background-color: #DCF8C6; /* Color para mensajes propios */
    color: #000;
  }
  
  .mio .mensaje-burbuja {
    background-color: #DCF8C6; /* Color para mensajes propios */
  }
  
  .recibido .mensaje-burbuja {
    background-color: #ffffff; /* Color para mensajes recibidos */
    border: 1px solid #ccc;
  }
  