.sidebar {
    width: 80px;
    height: 100%;
    background-color: #050A0F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-radius: 0% 0 0 10px;
    border: 0.5px solid #282b31;
  }
  
  .icon {
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  
  .avatar-section {
    position: relative;
    cursor: pointer;
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .dropdown-menu {
    position: absolute;
    bottom: 60px;
    right: -10px;
    background-color: #22252E;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .dropdown-menu button {
    background: none;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    text-align: left;
  }
  
  .dropdown-menu button:hover {
    background-color: #575a68;
  }
  