.user-profile {
    display: flex;
    align-items: center;
    background-color: #0D121C;
    color: white;
    border: 0.5px solid #282b31;
    padding: 5% 10% 5% 5%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    border-color: #282b31;
    width: 100%; /* Ancho fijo para todas las cartas */
    box-sizing: border-box; /* Incluye el padding dentro del ancho */
}


.user-profile:hover {
    background-color: #1b1f2b;
}

.user-avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.user-name {
    font-size: 14px;
    font-weight: bold;
}
